{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
<!--
 <script>

    $(document).ready(
            function() {
                 

                setInterval(function() {
                    
                     var lista=[];
                     var lista2=[];
                     var lista3=[];
                     var lista4=[];
                             
                            $("#myTable tbody tr").each(function(){
                                var lista4={};
                                var tds=$(this).find("td");
                                lista4.Name=tds.filter(":eq(0)").text();
                                lista4.Cantidad=tds.filter(":eq(3)").text();
                                lista3.push(lista4);
                                
                            });
                             
                            $(".symbol").each(function(){
					            var monto = String($(this).text());
					            lista.push(monto);                      
					                                
					        });

					         for(i=0;i<lista.length;i++){
                                for(j=0;j<lista3.length;j++){
                                    
                                    if(lista[i]==lista3[j].Name){
                                    	//$('.cantidad').val(lista3[j].Cantidad);
                                    	console.log(lista[i])
                                    	//console.log(lista3[j])
                                    }
                                    

                                }
                                
                                
                            }
                            

                            //console.log(lista3)
                            //console.log(lista)
                            //console.log(lista2)
                              
                    
                }, 5000);
            });
    </script>-->
				




		<table class="table table-bordered" id="myTable" style="display: none;">

			<thead>
				<tr>
					<td>#</td>
					<td>Cargo</td>
					<td>Imagen</td>
					
					
					<td>Acciones</td>
				</tr>
			</thead>

			<tbody>
						
			{% for moneda in monedas%}

				

				<tr>
					<td ><label for="" class="symbol1">{{moneda.symbol}}</label></td>
					<td>{{moneda.preciousd}}</td>
					<td>{{moneda.preciobtc}}</td>
					<td class="cantidad1">{{moneda.cantidad}}</td>
					
					
					
				</tr>
			{% endfor %}
			
			</tbody>

		</table>

      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Cryptocurrency</div>
        <div class="card-body" id="card">
          <div class="table-responsive" id="prueba1">
             <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                	<th style="display: none;">Simbolo</th>
					<th>Name</th>
					<th>Precio</th>
					<th>Precio BTC</th>
					<th>Cambio</th>
					<th>Operacion</th>
				</tr>
              </thead>
              <tfoot>
               <tr>
               		<th style="display: none;">Simbolo</th>
					<th>Name</th>
					<th>Precio</th>
					<th>Precio BTC</th>
					<th>Cambio</th>
					<th>Operacion</th>
				</tr>
              </tfoot>
              <tbody>
			

			 
			{% for coin in crypto_data %}
				
				<tr >
					<td class="symbol" style="display: none;">{{coin.symbol}}</td>
					<td class="nombre">{{coin.name}}</td>
					<td class="usd">{{coin.price_usd}}</td>
					<td class="btc">{{coin.price_btc}}</td>
					<td><label for="">{{coin.percent_change_1h}}</label></td>
					<td><input type="button" value="Seleccionar" class="btn btn-primary boton" ></td>

				</tr>
				
				<tr  class="simbolo {{coin.symbol}}" style="display: none;">
				
					
						
						<td colspan="5">
						<form method="POST" id="guardaru" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row justify-content-center">
							<div class="col-md-4 ">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">	<i class="fa fa-line-chart"></i></span>
							  </div>
							  {{form.symbol}}
							 
							  
							</div>	
							</div>


							<div class="col-md-4">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">Name</span>
							  </div>
							  {{form.name}}

							</div>	
							</div>

							<div class="col-md-4">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">BTC</span>
							  </div>
							  {{form.preciobtc}}

							</div>	
							</div>

						</div>
						<!-- fin linea 1-->

						<div class="row justify-content-center">
							<div class="col-md-3 ">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">USD</span>
							  </div>
							  {{form.preciousd}}
							</div>	
							</div>


							<div class="col-md-3">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text" id="basic-addon1">Cantidad</span>
							  </div>
							  {{form.cantidad}}

							</div>	
							</div>

						</div>
						<!-- fin linea 2-->
						<div class="row justify-content-center">
							<div class="col-md-2 col-xs-2 col-sm-3">
							<button type="submit" class="btn btn-success enviar" id="enviar">Registrar</button>
							</div>


							<div class="col-md-2 col-xs-2 col-sm-3">
							<a class="btn btn-info info" href="{% url 'moneda:moneda_info' coin.symbol%}">Ver mas</a>
							</div>

						</div>
						
					  	
						
						
						


					</form>
				</td>
					
				</tr>
			

				
				
			
			{% endfor %}


			</tbody>
           
             
			
            </table>	
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    

<script>
					$(document).ready(function(){
				    $(".boton").click(function() {
				    	 
				        var valores = "";
				        var usd="";
				        var btc="";
				        var x=0;
				        var i=0;
				        var lista=[];
	                     var lista2=[];
	                     var lista3=[];
	                     var lista4=[];   
	                              
                            
	                     $("#myTable tbody tr").each(function(){
                                var lista4={};
                                var tds=$(this).find("td");
                                lista4.Name=tds.filter(":eq(0)").text();
                                lista4.Cantidad=tds.filter(":eq(3)").text();
                                lista3.push(lista4);
                                
                          });                   

	                                       

				        // Obtenemos todos los valores contenidos en los <td> de la fila
				        // seleccionada
				        $(this).parents("tr").find(".symbol").each(function() {
				          valores = $(this).text();
				          var cont=0;
				          var cont1=0;
				          var url = "{% url 'moneda:moneda_info' 123 %}";
				          var text=url.replace('123',valores)
				          
				          
				          $('.simbolo').hide();
				          $("."+valores).toggle();
				          $('.symbolo').val(valores);

				          for(i=0;i<lista3.length;i++){

                                    
	                          	if (valores == lista3[i].Name){
	                                        
	                               	var cont=i+1;
	                                       

	                            }                             
                                                              
                          }

                          if (cont==0){
                             $('.cantidad').val("0");
                             $(".enviar").removeClass("btn btn-danger");
                             $(".info").removeClass("btn btn-info");

                             $(".enviar").addClass("btn btn-success");
                             $(".info").addClass("btn btn-danger");
                                	
                             $(".enviar").prop('disabled', false);
                             $(".info").prop('disabled', true);
                             $(".info").attr("href","#");
                                	
                           }else{

                             $('.cantidad').val(lista3[cont-1].Cantidad);
                             $(".enviar").removeClass("btn btn-success");
                             $(".info").removeClass("btn btn-danger");
                             $(".enviar").addClass("btn btn-danger");
                             $(".info").addClass("btn btn-info");
                             $(".enviar").prop('disabled', true);
                             $(".info").prop('disabled', false);
                             $(".info").attr("href",text);
                               	
                               	

								                       
							}                   
                            
				          	
				          						          	
				         				        
			       		});      
				            		           
				          

                       
			           $(this).parents("tr").find(".nombre").each(function() {
				          name = $(this).html() + "\n";
				          
				          
				          $('.name').val(name);
				          
				        
				        });
				        $(this).parents("tr").find(".usd").each(function() {
				          usd = $(this).html() + "\n";
				          
				          
				          $('.preciousd').val(usd);
				          
				        
				        });

				        $(this).parents("tr").find(".btc").each(function() {
				          btc = $(this).html() + "\n";
				          
				          
				          $('.preciobtc').val(btc);
				          
				        
				        });
				        
				        
				      });
				    });
				</script>	


{% endblock %}