{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}




      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Cryptocurrency</div>
        <div class="card-body" id="card">
          <div class="table-responsive" id="prueba1">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
					<th>Name</th>
					<th>Precio</th>
					<th>Precio BTC</th>
					<th>Cambio ultima hora</th>
					<th>Operacion</th>
				</tr>
              </thead>
              <tfoot>
               <tr>
					<th>Name</th>
					<th>Precio</th>
					<th>Precio BTC</th>
					<th>Cambio ultima hora</th>
					<th>Operacion</th>
				</tr>
              </tfoot>
              <tbody>
			

			 
			{% for coin in crypto_data %}
				<tr >
					<td>{{coin.name}}</td>
					<td><label for="" class="monto">{{coin.price_usd}} </label></td>
					<td><label for="" class="cantidad">1</label></td>
					<td><label for="">{{coin.percent_change_1h}}</label></td>
					<td><a class="btn btn-primary" href="{% url 'monedas:moneda_create' coin.name%}">Registrar</a></td>
				</tr>

				

				
				
			    {% endfor %}
			

</tbody>
           
             
			
            </table>	
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>


{% endblock %}