{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}


<form method="POST" id="guardarpos">

	{% csrf_token %}
	
	<div class="row">
	<div class="col-md-4">
		<!-- Example Pie Chart Card-->
          <div class="card mb-6" style="height: 100%;">
            <div class="card-header">
              <i class="fa fa-fw fa-dollar"></i> Nombre de la Moneda</div>
            <div class="card-body">
              	<form method="post" id="guardaru" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="form-group">
								<label for="Moneda">Precio USD</label>
						    	<input type="text" class="form-control" id="price_usd" name="price_usd" disabled>

							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 ">
							<div class="form-group">
								<label for="Moneda">Precio BTC</label>
						    	<input type="text" class="form-control" id="price_btc" name="price_btc" disabled>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 ">
							<div class="form-group">
								<label for="Moneda">Cantidad</label>
						    	<input type="text" class="form-control" id="cantidad" name="cantidad" disabled>
							</div>
						</div>
											
						
					</div>			
					
				</form>
            </div>
            <!--<div class="card-footer small text-muted">Informacion</div>-->
          </div>
		
		</div>	

	<div class="col-md-8">
		<!-- Example Pie Chart Card-->
        <div class="card mb-6" style="height: 100%;">
            <div class="card-header">
              <i class="fa fa-line-chart"></i> Registrar Nuevo Trading
            </div>
            <div class="card-body">
	            <div class="row">
	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							    <label for="Moneda">Moneda</label>
							    <input type="text" class="form-control" id="name" name="name" size="5%">
						  	</fieldset>
	              	</div>

	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Precio BTC</label>
							<input type="text" class="form-control" id="price_btc" name="price_btc" size="5%">
						 </fieldset>
	              	</div>

	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Precio USD</label>
							<input type="text" class="form-control" id="price_usd" name="price_usd" size="5%">
						 </fieldset>
	              	</div>
	            </div>
            
            	<div class="row justify-content-center">
	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Cantidad</label>
						    <input type="text" class="form-control" id="cantidad" name="cantidad" size="5%">
						</fieldset>
	              	</div>

	              	
	             </div>



	            <div class="row justify-content-center">
	              	<div class="col-md-2">
	              		<fieldset class="form-group">
							<input type="button" value="Registrar" class="btn-primary">
						</fieldset>
	              	</div>

	              	
	            </div>
	        </div><!-- card body-->

        </div>


            	
            	
            <!--<div class="card-footer small text-muted">Informacion</div>-->
          </div>
		
	</div>	<!-- fin de row 1-->
	
		<hr>
<div class="row align-items-center">
	<div class="col-md-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-justified">
		    <li class="nav-item">
		        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"> <i class="fa fa-floppy-o"></i>Historico de Transacciones</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"> <i class="fa fa-area-chart"></i>Grafico de Transacciones</a>
		    </li>
		    
		</ul>
<!-- Tab panels -->
		<div class="tab-content card">
		    <!--Panel 1-->
		    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
		       <!-- Example Pie Chart Card-->
		          <div class="card mb-6" style="height: 100%;">
			            <div class="card-header">
				              <i class="fa fa-floppy-o"></i> Historial de Transacciones</div>
				            <div class="card-body">
				              	<div class="table-responsive">
				            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				              <thead>
				                <tr>
				                  <th>Nombre</th>
				                  <th>Precio USD</th>
				                  <th>Precio BTC</th>
				                  <th>Fecha</th>
				                  
				                </tr>
				              </thead>
				              <tfoot>
				                <tr>
				                  <th>Nombre</th>
				                  <th>Precio USD</th>
				                  <th>Precio BTC</th>
				                  <th>Fecha</th>
				                  
				                </tr>
				              </tfoot>
				              <tbody>
				                
				                <tr>
				                  <td>Bitcoin</td>
				                  <td>700</td>
				                  <td>1</td>
				                  <td>28/11/89</td>
				                  
				                </tr>
				                <tr>
				                  <td>Bitcoin</td>
				                  <td>767800</td>
				                  <td>1</td>
				                  <td>28/11/89</td>
				                  
				                </tr>
				                <tr>
				                  <td>Bitcoin</td>
				                  <td>721300</td>
				                  <td>1</td>
				                  <td>28/11/89</td>
				                  
				                </tr>
				                <tr>
				                  <td>Bitcoin</td>
				                  <td>77800</td>
				                  <td>1</td>
				                  <td>28/11/89</td>
				                  
				                </tr>
				                <tr>
				                  <td>Bitcoin</td>
				                  <td>706780</td>
				                  <td>1</td>
				                  <td>28/11/89</td>
				                 
				                </tr>
				          
				                
				              </tbody>
				            </table>
				          </div>
			        	</div>
		          </div>
		            <!--<div class="card-footer small text-muted">Informacion</div>-->
		    </div>
		    <!--/.Panel 1-->
		    <!--Panel 2-->
		    <div class="tab-pane fade" id="panel2" role="tabpanel">
		        <div class="card mb-3" style="height: 100%;">
		        <div class="card-header">
		          <i class="fa fa-area-chart"></i> Grafico de Transacciones</div>
		        <div class="card-body">
		          <canvas id="myAreaChart" width="100%" height="30" ></canvas>
		        </div>
		        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
		      </div>
		    </div>
		    <!--/.Panel 2-->

		</div>
	</div>		
</div>
<!--
    <div class="canvas-container" style="width: 50%;">
        
        <canvas     id="chart" width="100%" height="100"></canvas>
    </div> -->

	
	
	
</form>




{% endblock %}