{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<form method="POST" id="guardarpos">

	{% csrf_token %}
	
	<div class="row">
	<div class="col-md-4">
		<!-- Example Pie Chart Card-->
          <div class="card mb-6" style="height: 100%;">
            <div class="card-header">
              <i class="fa fa-fw fa-dollar"></i> Nombre de la Moneda</div>
            <div class="card-body">
              	<form method="post" id="guardaru" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="row justify-content-center">
						<div class="col-md-6">
							<div class="form-group">
								<label for="Moneda">Precio USD</label>
						    	<input type="text" class="form-control" id="price_usd" name="price_usd" disabled>

							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 ">
							<div class="form-group">
								<label for="Moneda">Precio BTC</label>
						    	<input type="text" class="form-control" id="price_btc" name="price_btc" disabled>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-md-6 ">
							<div class="form-group">
								<label for="Moneda">Cantidad</label>
						    	<input type="text" class="form-control" id="cantidad" name="cantidad" disabled>
							</div>
						</div>
											
						
					</div>			
					
				</form>
            </div>
            <!--<div class="card-footer small text-muted">Informacion</div>-->
          </div>
		
		</div>	

	<div class="col-md-8">
		<!-- Example Pie Chart Card-->
        <div class="card mb-6" style="height: 100%;">
            <div class="card-header">
              <i class="fa fa-line-chart"></i> Registrar Nuevo Trading
            </div>
            <div class="card-body">
	            <div class="row">
	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							    <label for="Moneda">Moneda</label>
							    <input type="text" class="form-control" id="name" name="name" size="5%">
						  	</fieldset>
	              	</div>

	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Precio BTC</label>
							<input type="text" class="form-control" id="price_btc" name="price_btc" size="5%">
						 </fieldset>
	              	</div>

	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Precio USD</label>
							<input type="text" class="form-control" id="price_usd" name="price_usd" size="5%">
						 </fieldset>
	              	</div>
	            </div>
            
            	<div class="row justify-content-center">
	              	<div class="col-md-4">
	              		<fieldset class="form-group">
							<label for="Moneda">Cantidad</label>
						    <input type="text" class="form-control" id="cantidad" name="cantidad" size="5%">
						</fieldset>
	              	</div>

	              	
	             </div>



	            <div class="row justify-content-center">
	              	<div class="col-md-2">
	              		<fieldset class="form-group">
							<input type="button" value="Registrar" class="btn-primary">
						</fieldset>
	              	</div>

	              	
	            </div>
	        </div><!-- card body-->

        </div>


            	
            	
            <!--<div class="card-footer small text-muted">Informacion</div>-->
          </div>
		
		</div>	<!-- fin de row 1-->
	
		
		



	
	
	
</form>




{% endblock %}